a img {
  border: medium none;
}

a:link,
.main-left-sidebar .hikashop_subcategories_listing a{
  color: $link-color;
  text-decoration: none;
}

.hikashop_subcategories_listing a{
  color: $link-color !important; /*overiding from a file I cant find*/
}

a:hover {
  color: $link-hover;
}

.article-section p a,
.article-section li a,
.example a,
a.back-to-top{
  border-bottom: 1px solid $border-color;
  text-decoration: none;
}

.article-section p a:hover,
.example p a:hover,
.article-section li a:hover{
  border-bottom: 1px solid $link-hover;
  text-decoration: none;
}

.article-section a img
.article-section .no-border-link li a{
  border-bottom: none;
  text-decoration: none;
}

.article-section a:hover img,
.article-section .no-border-link li a:hover{
  border-bottom: none;
  text-decoration: none;
}