.parent-reports .course-row-nottaken td,
.parent-reports .course-row-regular td,
.try-it .course-row-nottaken td,
.try-it .course-row-regular td,
.child-home .course-row-nottaken td,
.child-home .course-row-regular td {
  border-bottom: 3px solid #E9ECED;
}

.parent-reports .course-row-nottaken,
.parent-reports .course-row-regular,
.try-it .course-row-nottaken,
.try-it .course-row-regular,
.child-home .course-row-nottaken,
.child-home .course-row-regular {
  cursor: pointer;
  height: 70px;
  vertical-align: middle;
}

.parent-reports .course-row-nottaken,
.try-it .course-row-nottaken,
.child-home .course-row-nottaken {
  cursor: default;
}

.parent-reports .course-row-nottaken,
.parent-reports .course-row-regular,
.try-it .course-row-nottaken,
.try-it .course-row-regular,
.child-home .course-row-nottaken,
.child-home .course-row-regular {
  background: white;
}

.parent-reports .course-row-hover,
.try-it .course-row-hover,
.child-home .course-row-hover {
  background: #EAF2F7;
}

.try-it .homequiztable1,
.child-home .homequiztable1 {
  font-size: 1.1em;
}

.parent-reports .homequiztable2,
.try-it .homequiztable2,
.child-home .homequiztable2 {
  vertical-align: middle;
  width: 10%;
}

.parent-reports .homequiztable3,
.try-it .homequiztable3,
.child-home .homequiztable3 {
  vertical-align: middle;
  width: 50%;
}

.parent-reports .homequiztable4,
.try-it .homequiztable4,
.child-home .homequiztable4 {
  vertical-align: middle;
  text-align:center;
  width: 20%;
}

.parent-reports .averageScoreText,
.parent-reports .bestScoreText {
  font-weight: bold;
}

.parent-reports .bestGrade,
.try-it .bestGrade,
.child-home .bestGrade {
  background: url("images/star_grade.png") no-repeat scroll -8px -8px transparent;
  color: #FFFFFF;
  font-size: 0.9em;
  font-weight: bold;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 23px;
  text-align: center;
  width: 65px;
}


.parent-reports .mostRecent {
  font-size: 0.9em;
  color: rgb(102, 102, 102);
}

.try-it table.testHistory td,
.child-home table.testHistory td,
.parent-reports table.testHistory td {
  font-size: 1.1em;
}

.try-it .question-details-top,
.child-home .question-details-top,
.parent-reports .question-details-top {
  margin: 20px auto 0px auto;
}

.try-it .question-details table.testHistory,
.child-home .question-details table.testHistory,
.parent-reports .question-details table.testHistory {
  margin: 0;
  width: 100%;
}

.try-it .question-details table.testHistory td,
.child-home .question-details table.testHistory td,
.parent-reports .question-details table.testHistory td {
  border: none;
}

.try-it .textCenter,
.child-home .textCenter,
.parent-reports .textCenter {
  text-align: center;
}

.try-it .course-no-tests-attempted,
.child-home .course-no-tests-attempted {
  text-align: center;
  height: 49px;
  cursor: default;  
}

.try-it .question td,
.child-home .question td,
.parent-reports .question td {
  padding: 10px 0;
  text-align: center;
}

table.question-text {
  margin: 10px 0;
  float:right;
  width: 80%;
}

.try-it div.question-text td,
.child-home div.question-text td,
.parent-reports div.question-text td {
  text-align: left;
}

.try-it .question td .answer-input,
.child-home .question td .answer-input,
.parent-reports .question td .answer-input {
  padding: 0 10px;
}

.try-it .question td label,
.try-it .question td label img,
.child-home .question td label,
.child-home .question td label img,
.parent-reports .question td label,
.parent-reports .question td label img {
  padding: 0;
  margin: 0;
}

.try-it .question td label img,
.child-home .question td label img,
.parent-reports .question td label img {
  padding: 0;
  margin: 0;
}

.try-it .question td .anun,
.child-home .question td .anun,
.parent-reports .question td .anun {
  font-size: 1.4em;
}

.try-it .testHistoryGrade,
.try-it .displayResultReview,
.child-home .testHistoryGrade,
.child-home .displayResultReview,
.parent-reports .testHistoryGrade,
.parent-reports-reviewStatus .displayResultReview {
  background: url("images/result_bg.png") no-repeat scroll 0 12px transparent;
  color: #444444;
  font-weight: 700;
  text-align: center;
  width:50px;
}

.try-it .question tr,
.child-home .question tr,
.parent-reports .question tr {
  vertical-align: middle;  
}


.try-it-reviewStatus table,
.child-home-reviewStatus table,
.child-home-mocktest-reviewStatus table,
.parent-reports-reviewStatus table {
  margin-bottom: 0;
}

.try-it-reviewStatus .reviewStatus-header,
.child-home-reviewStatus .reviewStatus-header,
.child-home-mocktest-reviewStatus .reviewStatus-header,
.parent-reports-reviewStatus .reviewStatus-header {
  font-weight: bold;
}

.child-home-mocktest-reviewStatus .reviewStatusText {
  display: block;
  float: left;
  margin-top: 11px;
}

td.mocktest-reviewStatus-buttons>div {
  float: left;
}
td.mocktest-reviewStatus-buttons>form {
  float: right;
}

h2 .attempt-previous_off, h2 .attempt-next_off,
h2 .attempt-first, h2 .attempt-previous, h2 .attempt-next {
}

.attempt-of-howmany {
  float: right;
  padding: 6px;
}

div.question-text img {
  vertical-align:middle;
}

div.question-text input {
  /*margin-top: 30px;*/
}


div.question-example {
  float: right;
  width: 150px;
}

div.question-answers table {
  border-spacing: 10px;
  width: 100%;
}

div.question-answers td label {
  font-size: 1.4em;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

div.question-answers tr  {
  background: url("images/option_gradient_bg.png") repeat-x scroll left bottom;
  width: 100%;
}
.question-answers-multibond label {
  top: 0;
}

.parent-reports-child form {
  display: inline;
}

.parent-reports-child form div {
  display: inline;
  cursor: pointer;
}

div.question-viewExample {
  background: url("images/btn_example_bg.png") no-repeat scroll center center transparent;
  float: right;
  height: 50px;
  line-height: 1.2em;
  margin: 0 10px;
  padding: 15px 0 0 45px;
  text-align: left;
  width: 84px;
  font-size: 1em;
  font-weight: bold;
  color: #2B6CBE;
  cursor: pointer;
  z-index: 1;
}


div.question-text td {
  font-size: 1em;
}

div.question-text table {
  width: auto;
}

div.question-text .question-answer {
  max-width: 800px;
  vertical-align: middle;
}

.child-home div.mockTestContinueButton {
  margin: 100px 0 0 600px !important;
}

.fraction {
    background: url("images/fraction_bg.png") no-repeat scroll center top transparent;
    height: 100px;
    padding: 18px 20px;
    width: 82px;
    display: inline-block;
    vertical-align: middle
}
.fraction .numerator {
    display: block;
  width: 80px;
  text-align: center;
  height: 38px;
}
.fraction .numerator input {
    font-size: 1.3em;
    margin-left: 4px;
    margin-top: 0 !important;
    background: url("images/input_bg.png") no-repeat scroll left top #FFFFFF;
    border: 2px solid #3867A3;
    height: 23px;
    padding: 0 0 6px;
    text-align: center;
    width: 70px !important;
}
.fraction .fractionline {
    display: block;
    background: url("images/fraction_divider.png") no-repeat scroll center top transparent;
    height: 6px;
    margin: 9px 0;
}


.staticfraction {
  display: inline-block;
    padding: 0;
    vertical-align: middle;
    height: 30px;
}
.staticfraction .numerator, .staticfraction .denominator {
  display: block;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  padding: 0 4px;
}
.staticfraction .numerator {
    vertical-align: top;
}
.staticfraction .denominator {
    vertical-align: bottom;
}
.staticfraction .fractionline {
  display: block;
    background: #a8c7d5 url("images/fraction_divider.png") no-repeat scroll center top;
    height: 1px;
    margin: 1px 0;
    vertical-align: middle;
}
.fraction .icon {
  float: right;
  margin: 7px -17px 0 0;
}