.column-7 {
  width: 70%;
  float: left;
  position: relative;
}

.column-3 {
  float: left;
  margin-left: 2%;
  position: relative;
  width: 28%;
}

.sidebar-section{
  margin-bottom: 50px;
}

.article-section {
  border: 1px solid $border-color;
  margin: 0 0 30px 0;
  padding: $article-padding;
  background-color: white;
  box-shadow: 4px 5px 0px #f5f5f5;
  position: relative;
}

.full-width{
  margin-left: -$article-padding; /*same as article padding*/
  margin-right: -$article-padding; /*same as article padding*/
}

.article-banner{
  max-height: 300px;
  overflow: hidden;
  margin-bottom: 30px;
  img.image-cover {
    width: 100%;
  }
}

.full-width-padding{
  padding: $article-padding;
}

.layout-container{
  width: 100%;
  img{
    width: 100%;
  }
}

#floating{
  margin-top: 30px;
}

#floating > ul {
  background-color: white;
  border: 1px solid #dadada;
  list-style: outside none none;
  margin: 0 0 25px;
  padding: 2em;
  text-align: left;
}

#floating.fixed{
  width: 17.5%;
}

.background-blue{
  background-color: $blue;
  h1, h2, h3, h4, h5, h6, p, li, span, a{
    color: white;
  }
}

.background-teal{
  background-color: $teal;
  h1, h2, h3, h4, h5, h6, p, li, span, a{
    color: white;
  }
}

.background-red{
  background-color: $red;
  h1, h2, h3, h4, h5, h6, p, li, span, a{
    color: white;
  }
}

.background-green{
  background-color: $green;
  h1, h2, h3, h4, h5, h6, p, li, span, a{
    color: white;
  }
}

.background-yellow{
  background-color: $yellow;
  h1, h2, h3, h4, h5, h6, p, li, span, a{
    color: white;
  }
}

hr {
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0), rgba(255, 255, 255, 1));
  background-image: -moz-linear-gradient(left center , #ffffff, rgba(255, 254, 254, 0.24), #ffffff);
  background-image: -ms-linear-gradient(left center , #ffffff, rgba(255, 254, 254, 0.24), #ffffff);
  background-image: -o-linear-gradient(left center , #ffffff, rgba(255, 254, 254, 0.24), #ffffff);
  margin: 2em 0;
  width: 100%;
}

hr.thick{
  background-image: none;
  background-color: #EFEFEF; /*grey*/
  height: 8px;
}

hr.blue{
  background-image: none;
  background-color: $blue; /*blue color*/
  height: 1px;
}

hr.grey{
  background-image: none;
  background-color: #cbcbcb; /*blue color*/
  height: 1px;
}

.article-section hr:nth-child(1n){
  margin: 1.5em 0 2em 0;
}

.no-subscriptions {
  width: 95%;
}
