

.login-form.loginbox.clearfix.twocolumns {
  margin: 0 auto;
  padding: 2em;
  width: 467px;
}

.login-form{
  margin: 0;
}

.adultlogin, .registerLink {
  width: 400px;
}

.registerLink {
  border-top: 0 none !important;
  padding: 1em 2em;
  height: 31px;
}

.adultlogin table.bordered {
    width: 100%;
}

.adultlogin .bordered input {
  float: right;
  width: 209px;
}

.breadcrumb-container {
  float: left;
  height: 63px;
  position: relative;
  width: 100%;
}

.adultlogin,
.registerLink,
.registration-form table{
  background-color: white;
  border: 1px solid $border-color;
  margin: 0 auto;
  padding: 2em;
}

/*register page*/
th {
  background-color: $blue;
  color: white;
  padding: 0.5em;
}

.comment {
  font-size: 84%;
}

.bondform-label {
  width: 161px;
}

.bordered input#nomarketing {
  margin-right: 37px; /*checkbox*/
}

label#nonmarketing{
  font-size: 60%;
}

.registration-form .submitButtonBlue {
  margin-right: 2em;
}

.registration-form {
  margin: 0 auto;
  width: 900px;
}

/*my account*/
.myaccount-buttons td {
  width: 50%;
}

// some home styles

.mission{
  margin: 3em 0 3em 0;
  padding-left: 30px;
  width: 790px;
}

.home-mission {
  margin: 0 0 3em 0;
  padding-left: 30px;
  width: 790px;
}

.home-mission h1{
  margin: 0px;
}

/*brand guidelines*/

.guideline {
  margin-bottom: 3.5em;
}

.example {
  border: 1px solid $border-color;
  padding: 2em;
  position: relative;
  background-color: white;
}

.example:after {
  background-color: #FBFBFB; /*same as body colour*/
  border-bottom: 1px solid $border-color;
  border-left: 1px solid $border-color;
  content: "Example";
  float: right;
  padding: 0.2em 1em 0em 1em;
  position: absolute;
  right: 0;
  top: 0;
}

ul.subjects{
  height: 67px;
  margin: 0 0 10px;
  padding: 0;
  width: 100%;
}

ul.subjects.colours{
  height: 123px;
}

ul.book-covers {
  margin: 0 0 10px;
  padding: 0;
  float: left;
  width: 100%;
}

li.subject-box,
li.cover {
    display: inline;
}

li.subject-box a {
  background-color: #ee1941;
  display: inline-block;
  float: left;
  height: 45px;
  margin-left: 2%;
  position: relative;
  width: 20.6%;
}

li.color-box {
  background-color: #ee1941;
  display: inline-block;
  float: left;
  height: 100px;
  margin-left: 2%;
  position: relative;
  width: 20.6%;
}

li.color-box span{
  color: white;
}

.hex-text {
  bottom: 0;
  font-size: 60%;
  position: absolute;
  right: 10px;
  opacity: 0.79;
}

li.cover a {
  background-color: #ee1941;
  display: inline-block;
  float: left;
  margin-left: 2%;
  position: relative;
  width: 23.4%;
  border-bottom: 0;
}

li.subject-box a:hover,
li.cover a:hover{
  opacity: 0.8;
}

li.subject-box:first-child a,
li.color-box:first-child,
li.cover:first-child a{
  margin-left: 0;
}

ul.subjects.colours li a{
  height: 100px;
}

.cover img{
  width: 100%;
}

.subject-box > a,
.color-box {
  border: 0 none;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
  padding: 1.4%;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

li.red.color-box{
  background-color: $maths;
}

li.grey.color-box{
  background-color: $dark-grey;
}

li.black.color-box{
  background-color: $black;
}

li.blue.color-box,
.blue-background{
  background-color: $blue;
}

li.english.subject-box  a,
li.teal.color-box,
.english-background{
  background-color: $english;
}

.english-background.high-light li,
.verbal-background.high-light li,
.non-verbal-background.high-light li{
  color: white;
}

li.verbal.subject-box a,
li.green.color-box,
.verbal-background{
  background-color: $verbal;
}

li.non-verbal.subject-box a,
li.yellow.color-box,
.non-verbal-background{
  background-color: $non-verbal;
}

ul.joomla-nav-news{
  margin: 0;
  padding: 0;
}

.joomla-nav-news li{
  list-style-type: none;
  color: transparent; /*this is a hack to get rid of the strange hardcoded elipses*/
}

.phome-promotions-news-link {
    margin-bottom: -18px; /*as the elipses is still there I have to use a negative margin LS*/
}

.joomla-nav-news li a {
  background-color: $secondar-button-color;
  border-bottom: 0 none;
  display: block;
  padding: 1em;
  color: #424242; /*grey text*/
}

.joomla-nav-news li a:hover {
  background-color: $secondar-button-hover;
}

.full-width-header{
  margin: -30px -30px 30px;/*same as article padding*/
  padding: 4em 2em 3em;
}

.full-width-header h1{
  font-size: 5em;
}

.full-width-header h1,
.full-width-header p{
  color: white;
}

#pageFooter {
  font-size: 1em;
  background-color: $footer-background;
  padding: 10px;
  height: 150px;
}

#pageFooter #footerLeft {
  float: left;
  width: 18%;
  padding: 0;
  margin-top: 30px; 
}

#pageFooter #footerRight {
  float: left;
  width: 82%;
  margin-bottom: 20px;
  text-align: left;
  margin-top: 69px;
}

#pageFooter #footerRight2 {
    padding-top: 0;
    float: right;
}

#footerLeft .oxford-logo {
    margin-top: 36px;
    padding: 30px; /*about the same width as Oxford O*/
    width: 74%;
}

#pageFooter ul {
  margin: 0 0 10px;
  padding: 0;
}

#pageFooter ul li {
  display: inline;
  list-style-type: none;
  margin-right: 10px;
}

#pageFooter ul li a {
  color: $footer-link;
}

#courseJumpForm {
  vertical-align: middle;
}
#courseJumpForm select {
  float: left;
}
.courseJump {
  float: right;
}

.online-advert{
  margin-bottom: 40px;
  padding: 1em;
  .btn{
    border-radius: 5px;
    border: none;
    width: 92%;
  }
  p.sub-head{
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 5px;
  }
}

.advert-blue{
  background-color: $blue;
  li,p,span,blockquote{
    color: white;
  }
  a.btn{
    background-color: white;
    color: $blue;
  }
}

.advert-white{
  border: 3px solid $blue;
  border-radius: 15px;
  background-color: white;
  li,p,span,blockquote{
    color: $blue;
  }
  a.btn{
    background-color: $blue;
    color: white;
  }
  &:hover{
    background-color: $light-blue;
  }
}

.brand-guidelines{
  .online-advert{
    float: left;
    margin-right: 40px;
  }
}

.bond-logo-advert{
  margin-right: 3%;
  width: 43%;
}

.online-logo-advert{
  width: 52%;
}


.bond-radius{
  border-bottom-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.full-radius{
  border-radius: $border-radius;
}

.bottom-radius{
  border-bottom-left-radius: $border-radius;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: $border-radius;
} 