body, td, li, input, select, p, span, h1, h2, h3, h4  {
  font-family: Helvetica, "nimbus-sans", sans-serif;
}

.windows-font{
  font-family: $windows-font;
}

h1, h2, h3, h5, h6 {
  font-weight: bold;
}

h1, h1.green {
  background: none;
  border: none;
  font-size: 3.5em;
  font-weight: bold;
  color: #00529C; /*blue color*/
  margin-bottom: 0.2em;
}

.login-form h1{
  font-size: 3.5em; /*standard h1 size;*/
}

.login-form h1:nth-of-type(2),
.welcomeMsgLogin h1{
  font-size: 1em;
  display: none;
}

h2 {
  border: medium none;
  font-size: 2.2em;
  line-height: 1.2;
  margin: 1em 0;
  padding: 0;
  color: #00529C; /*blue color*/
}

.article-section h2{
  margin: 0;
}

h3{
  color: #00529C; /*blue color*/
  font-weight: normal;
  line-height: 1.5;
  margin: 1em 0;
  max-width: 650px;
  font-size: 1.5em;
}

.side-bar h3 {
  border-top: 2px solid;
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  padding: 0.5em 0.3em;
}

p + p {
  margin-top: auto;
  text-indent: 0; /*overiding some weird styles*/
}

body p{
  margin-bottom: 1em;
}

p, li, span, blockquote {
  color: #4c4d52;
  font-size: 1em;
  line-height: 1.6;
  margin-left: 0;
  max-width: 550px;
}

label {
  font-weight: normal;
}

.lead {
  font-size: 1.3em;
  max-width: 650px;
}
 
.high-light-blue,
.high-light-grey {
  font-weight: bold;
  font-size: 1.3em;
}

li{
  margin-bottom: 0.5em;
}

.high-light-blue li{
  color: #00529C; /*blue color*/
  margin-bottom: 0.5em;
  max-width: 100%;
}

.high-light-grey li{
  margin-bottom: 0.5em;
  max-width: 100%;
}

h4 {
  font-size: 1.2em;
  line-height: 1.7;
  margin: 1.5em 0 1em;
  max-width: 600px;
}

.list-style-none{
  list-style: none;
}

.article-section li {
  margin-bottom: 0.5em;
}

