//primary colours
$blue:										#00529C;
$grey:										#dadada;
$dark-grey:								#414242;
$light-grey:							#e6e6e6;
$black:										#000;

//secondary-colours
$teal:										#00A4B9;
$red:											#EE1941;
$green:										#ADBE25;
$yellow:									#FDB813;

$oup-blue:								#000066;

// typography
$font-stack:							Helvetica,sans-serif;
$font-color:							$black;
$grey-text:								$dark-grey;

//layout
$border-color: 						$grey;
$border-radius:						15px;

//buttons
$primary-button-color:		$dark-grey;
$secondar-button-color:   $light-grey;

$body-backround:					#FBFBFB;

$footer-background:       $oup-blue;