    <div class="article-section">
      <h2>Content block</h2>
      <hr>
      <div class="pull-right image-caption">
        <div class="image-caption--image">
          <img class="" src="/images/2015/maths.png" alt="book cover">
        </div>
        <div class="image-caption--caption">
          <p><a href="http://www.bond11plus.co.uk/shop/category/41-assessment-papers">Buy the Bond assessment papers</a></p>
        </div>
      </div>
      <h4>Interactive question bank &ndash; perfect for GL &amp; CEM 11+ exams. Buy a monthly subscription from £5.99 per month*.</h4>
      <p>I use a technique book with an example of each question type to make sure that each of my pupils understands every question type. Any top tips or examples that help your child remember techniques can be added to the book. For example, in maths a worked long multiplication sum might be helpful and the formula for solving the area of a triangle could be a top tip. In verbal reasoning, the code questions might be useful and listing the squared and cubed numbers could be another top tip. Getting your child to write these key ideas out is a great way of revising and encouraging them to be part of their own learning process.</p>
      <h3>Content block sub-header</h3>
      <p>In 1946 Moyra Bond moved to Swanage in Dorset where she decided to become a teacher and, after training at Weymouth College, she taught mathematics at a number of local schools. Her husband died in 1956 and, two years later, she raised the money to buy Avalon, a girls’ preparatory school in <a rel="external" href="">West Kirby</a>, Cheshire. She soon developed this into one of the most successful schools in the North-west.</p>
      <hr class="grey">
    </div>
