<p><a href="/about-bond">A link without surrounding text</a></p>

<p>Note the ‘he’. 1964 was long before the days of sexual equality so, when the <a rel="external" href="http://www.bbc.co.uk">first book</a> was published, it was felt that it would almost certainly prove more successful if its authorship wasn’t overtly attributed to a woman. Consequently, her name was given as the genderless ‘J.M. Bond’, and the title page said that she was the ‘Principal’ rather than the ‘Head Mistress’ of a school. It was not until 2007 that she was ‘outed’ on the <a href="/about-bond">internet</a> as being female!</p>

<p><a rel="external" href="http://www.bbc.co.uk">A standard external link</a></p>