<h3>Grey icons</h3>
<ul class="list-style-none">
  <li><i class="icon-help grey-icon"></i>Help icon</li>
  <li><i class="icon-video grey-icon"></i>Video icon</li>
  <li><i class="icon-info grey-icon"></i>Info icon</li>
  <li><i class="icon-user grey-icon"></i>User icon</li>
  <li><i class="icon-basket grey-icon"></i>Basket icon</li>
  <li><i class="icon-question grey-icon"></i>Question icon</li>
  <li><i class="icon-close grey-icon"></i>Close icon</li>
  <li><i class="icon-tick grey-icon"></i>Tick icon</li>
  <li><i class="icon-arrow-left grey-icon"></i>Arrow left icon</li>
  <li><i class="icon-arrow-right grey-icon"></i>Arrow right icon</li>
  <li><i class="icon-print grey-icon"></i>Print icon</li>
  <li><i class="icon-refresh grey-icon"></i>Refresh icon</li>
</ul>
<hr class="grey">
<h3>Blue icons</h3>
<ul class="list-style-none">
  <li><i class="icon-help blue-icon"></i>Help icon</li>
  <li><i class="icon-video blue-icon"></i>Video icon</li>
  <li><i class="icon-info blue-icon"></i>Info icon</li>
  <li><i class="icon-user blue-icon"></i>User icon</li>
  <li><i class="icon-basket blue-icon"></i>Basket icon</li>
  <li><i class="icon-question blue-icon"></i>Question icon</li>
  <li><i class="icon-close blue-icon"></i>Close icon</li>
  <li><i class="icon-tick blue-icon"></i>Tick icon</li>
  <li><i class="icon-arrow-left blue-icon"></i>Arrow left icon</li>
  <li><i class="icon-arrow-right blue-icon"></i>Arrow right icon</li>
  <li><i class="icon-print blue-icon"></i>Print icon</li>
  <li><i class="icon-refresh blue-icon"></i>Refresh icon</li>
</ul>
<hr class="grey">
<div class="full-width background-blue">
  <div class="full-width-padding">
    <h3>White icons</h3>
    <ul class="list-style-none">
      <li><i class="icon-help white-icon"></i>Help icon</li>
      <li><i class="icon-video white-icon"></i>Video icon</li>
      <li><i class="icon-info white-icon"></i>Info icon</li>
      <li><i class="icon-user white-icon"></i>User icon</li>
      <li><i class="icon-basket white-icon"></i>Basket icon</li>
      <li><i class="icon-question white-icon"></i>Question icon</li>
      <li><i class="icon-close white-icon"></i>Close icon</li>
      <li><i class="icon-tick white-icon"></i>Tick icon</li>
      <li><i class="icon-arrow-left white-icon"></i>Arrow left icon</li>
      <li><i class="icon-arrow-right white-icon"></i>Arrow right icon</li>
      <li><i class="icon-print white-icon"></i>Print icon</li>
      <li><i class="icon-refresh white-icon"></i>Refresh icon</li>
    </ul>       
  </div>
</div>